{% extends "base_generic.html" %}

{% block content %}
<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 login-form">
          <h2 class="text-center">Login</h2>
          <br/>
          <form method="post" class="text-center">
            {% csrf_token %}
            {{ form.as_p }}
            <button  class="btn login-button" type="submit">Login</button>
          </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

</div>


{% endblock %}